@charset "UTF-8";
//Variables
$darkgrey: #212121;
$lightgrey: #FAFAFA;
$accentcolor: rgba(255, 193, 7, 1);
$lightprimary: #CFD8DC;
$darkprimary: #455A64;

//
//  MIXINS
//
@mixin link($color) {
    color: $color;
    position: relative;
    text-decoration: none;
    transition: all 0.15s ease-out;
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0px;
        background: $color;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }
    &:hover {
        transition: all 0.15s ease-out;
        &:before {
            visibility: visible;
            transform: scaleX(1);
        }
    }
}

/*-------------------------
	Simple reset
--------------------------*/

* {
    margin: 0;
    padding: 0;
}
/*-------------------------
	General Styles
--------------------------*/

section,
footer,
header {
    display: block;
}
html,
body{
    color: $darkgrey;
}
a {
    @include link($accentcolor);
}
/* To remove the scrollbars */
/*-------------------------
	Main Area
--------------------------*/
#main {
    padding: 20px;
}

.grid-container {
    min-height: 800px;   
    md-grid-tile {
        transition: all 200ms linear;
        md-card {
            cursor: pointer;
        }
        md-card-footer {
            white-space: nowrap; 
            overflow: hidden;
            text-overflow: ellipsis;
            color: $darkgrey !important;
        }
    }
}

.stream-viewers {
    text-align: right;
}

.stream-card {
    transition: all 300ms;
    &:hover {
        transition: all 300ms;
        transform: scale(1.01);
        background-color: $accentcolor;
        //box-shadow: 0 3px 1px -2px rgba(0,0,0,.2);
    }
}

img.stream-preview {
    width: 100%; 
}

#cursors {
    position: relative;
}

#cursors .cursor {
    position: absolute;
    width: 15px;
    height: 22px;
    background: url('../img/pointer.png') no-repeat -4px 0;
}

#strim {
    position: absolute;
    z-index: -500;
    width: 100%;
    height: 100%;
}

footer {
    background-color: $darkgrey;
    color: $lightgrey;
    a {
        @include link($accentcolor);
    }
}